*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body     {
width: 100%;
height: 100%;

}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.302);
}
#left{
    width: 80%;
    height: 100%;
}
#top{
    position: relative;
    width: 100%;
    color: white;
    height: 70%;
    background-image: url(https://plus.unsplash.com/premium_vector-1723977823923-e193f847bf48?q=80&w=2360&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    /* background-position: right;      */
}
#left #bottom{
    width: 100%;
    height: 30%;
    background-color: rgb(14, 14, 15);
    padding: 100px 200px;
}
#lbtmContent{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 40%;
    color: white; 
}
#conleft{
    width: 45%;
    height: 100%;
    
}
 #conleft p{
    width: 70%;
    font-size:12px;
    margin-top: 20px;

}
#conright{
    width: 45%;
    height: 100%;
  
}
.row{
    display: flex;
    padding-right: 100px;
    justify-content: space-between;
    margin-top: 20px;
}
.rowelement{
    display: flex;
}
.rowtxt{
    margin-left: 20px;
}
.rowtxt h6{
    opacity: .5 ;
    padding-top: 5px;
    font-weight: 600;
}
#right{
    width: 20%;
    height: 100%;
    background-color: lightyellow;
}
#r-top{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 70px ;
    width: 100%;
    height: 70%;
    background-color:white;
}

#r-top a{
    
    text-decoration: none;
    color: rgba(0, 0, 0, 0.753);
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: monospace;

}
/* #secondlink ::before{
    content: "------";

} */
#r-top #secondlink{
    position: relative;
    margin-left: 20px;

}
#r-top #secondlink::before{
    position: absolute;
    content: "";

    left: -20px;
    top: 7px ;
    width: 10px ;
    height: 2px ;
    background-color: rgb(232, 28, 28);

}
#icons{
    position: absolute;
    padding: 20px ;
    display: flex ;
    gap: 20px;
    flex-direction: column;
    right: 0;
    top: 0;
}
#icons i{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.753);
    transition: color 0.3s ease;
}
#r-bottom{
    position: relative;
    width: 100%;
    height: 30%;
    background-image: url(https://images.unsplash.com/photo-1565079828850-634c7c13a24e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

    background-size: cover;
    background-position:top  ;
}
#btmflower{
    width: 100px !important;
    height: 120px !important;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(https://images.unsplash.com/photo-1592296429945-93008c7e5a59?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom center ;
            
}
#btmflower i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 30px;
    color: rgba(247, 246, 246, 0.962);
    font-size: 30px !important;
    background-color: rgba(0, 0, 0, 0.317);
    border-radius: 50% ;

}

#capsule{
    position: absolute;
    width: 90%;
    background-color: rgba(13, 13, 14, 0.136);
    padding: 10px 20px;
    bottom: 5%;
    left: 50%;
    border-radius: 20px;
    margin-bottom: 10px;
    transform: translate(-50%, 0);
}
#capsule h2{
    font-size: 14px;
    line-height: 1;
}
#capsule p{
    font-size: 10px;
    margin-top: 5px;
    width: 100%;
    line-height: 1;
    opacity: .9;
}
#topbottom{
    position: absolute;
    width: 7%;
    height:18%;
    right: 0% ;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.161);
}
#topbottom i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: rgba(247, 246, 246, 0.962);
    transition: color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.317);
    border-radius: 50% ;
}